[submodule "themes/reveal-hugo"]
	path = themes/reveal-hugo
	url = git@github.com:joshed-io/reveal-hugo.git
[submodule "themes/techdoc"]
	path = themes/techdoc
	url = git@github.com:thingsym/hugo-theme-techdoc.git
