{{/* if first positional parameter given, then display setup column in schedule


# TODO:
# - add back the actual dates
*/}}
<div class="content">
  <table class="schedule-table">
    <tr><th>Week#</th><th>Date</th><th>Module</th>{{ with .Get 0 }}<th>Setup</th>{{ end }}<th>Topic</th><th>Hands-on</th><th>Assignment</th></tr>
  </table>
</div>

<script>
  // Schedule as JSON
  var modules = {{ .Site.Data.schedule }};
	      
    // Read JSON and print out schedule table
    var moduleNum = 0;
    var startDay = 0;
    var startDate = new Date({{ .Site.Params.start_date }});
    var specialdays = 0;
    modules.forEach(item => {
      var row = document.createElement("tr");

      if (item.special) {
        row.innerHTML = "<td></td><td>"
          + (startDate.getMonth() + 1) + "/" + startDate.getDate() + "</td><td>"
          + item.special + "</td><td></td><td></td><td></td><td></td>";
        specialdays += item.days;
      } else {
        moduleNum = moduleNum + item.module;
        row.innerHTML = 
          "<td>"
	  + ( Math.floor((startDay - specialdays)/7) + 1) + "</td><td>"
          + (startDate.getMonth() + 1) + "/" + startDate.getDate() + "</td><td>"
	  + item.name + "</td>{{ with .Get 0 }}<td>"
          + item.setup + "</td>{{ end }}<td>"
          + item.topic + "</td>" +
		  "<td>" + item.handson + "</td>" +
		  "<td>" + item.assignment + "</td>";
      }
      document.getElementsByClassName("schedule-table")[0].append(row);
      startDay = startDay + item.days;
      startDate.setDate(startDate.getDate() + item.days);
    });
	      
</script>
